.cad-unico{
	width: 1000px;
	height:1300px;
	margin-top: 400px;
	margin-left: 100px;
	border: 4px solid #910808;;
	position: absolute;
	font-family: cursive;
	
}
#nome p, select{
	color: #910808;
	font-size: 20pt;
	margin-left: 50px;
	font-family:cursive;
	font-style: oblique;

}
#txt{
	margin-left: 10px;
}
#sexo input,label,p{
	color: #910808;
	font-size: 20pt;
	margin-left: 50px;
	font-family:cursive;
	font-style: oblique;

}
#enviar{
	color: #910808;
	margin-left: 40px;
}
#receber1{
	margin-left: 10px
}
#receber{
	margin-left: 130px;
}
#msg{
	margin-left: 130px;
}
input, textarea, select{
	font-weight: normal;
	font-size: 20pt;
	background-color:#d9d9d9;

}
input:hover, textarea:hover{
	background-color: #1a1a1a;	
}
legend{
	color: #910808;
	font-weight: bold;
	font-size: 20pt;
	font-family: sans-serif;

}
fieldset {
	border-color:#910808;
	margin: 30px;
}

div#uf p, select label{
	color: white;
	margin-left:-600px;
}
div#uf label:hover, select:hover, option:hover{
	background-color:  #1a1a1a;		
}
figure.foto img#igc{
	position: relative;
	float: left;
	top: 120px;
	margin-left:70px;
}
figure.foto img#igc {
		width:350px;
		height: 200px;
		border: 4px solid #910808;
}

figure.foto img#igc1{
	position: relative;
	float: left;
	top: 360px;
	margin-left: 750px;
}
figure.foto img#igc1 {
		width: 200px;
		height: 150px;

}








