h2 {
    color: rgba(181, 184, 42, 0.911)
}

body {
    background-color: darkmagenta;
}

.container {
    background-color: yellow;
}

#cov {
    width: 100%;
}

#Logo {
    margin-bottom: 30px;
}

h3 {
    text-align: center;
}