    body {
        background-image: url(../img/corona-4916954_1920.jpg);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #cabecalho {
        border: rgba(207, 221, 13, 0.897) 2px solid;
        border-radius: 20px;
        padding: 50%;
    }
    
    #container {
        background-image: url(../img/virus-5675422_1920.jpg);
        margin-left: 5%;
        margin-right: 5%;
        padding: 5%;
        box-shadow: rgb(7, 5, 5)20px 20px 15px;
        border-radius: 30px;
    }