    body {
        background-image: url(../img/corona-4916954_1920.jpg);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    h1,header {
        font-size: 40pt;
        color: rgba(255, 238, 0, 0.801);
    }
    
    #container {
        background-image: url(../img/virus-5675422_1920.jpg);
        margin-left: 5%;
        margin-right: 5%;
        padding: 5%;
        box-shadow: rgb(7, 5, 5)20px 20px 15px;
        border-radius: 30px;
    }
    
    a {
        color: rgb(90, 18, 24);
        text-decoration: unset;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18pt;
    }
    
    #navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-left: 20%;
    }
    
    #perfil {
        width: 40%;
        padding-left: 65%;
        padding-top: 5%;
    }
    
    article {
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(255, 238, 0, 0.801);
    }
