                    body {
                        background-image: url(../img/corona-4916954_1920.jpg);
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                    
                    .menu ul li {
                        background-color: #191b96;
                        color: #e2ee37;
                        float: right;
                        width: 150px;
                        height: 40px;
                        display: inline-block;
                        text-align: center;
                        line-height: 35px;
                        font-size: 18px;
                        padding: 0px;
                        position: relative;
                        font-family: 'MedievalSharp', cursive;
                    }
                    
                    .menu ul li a:hover {
                        color: #394be7e8;
                        transition: 0.80s;
                    }
                    
                    .menu ul {
                        padding: 0;
                    }
                    
                    .menu ul ul {
                        display: none;
                    }
                    
                    .menu ul li:hover>ul {
                        display: block;
                    }
                    
                    .menu a {
                        color: #f3f05b;
                        text-decoration: none;
                        font-family: 'MedievalSharp', cursive;
                    }