.cov {
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#corona {
    width: 400px;
    height: 400px;
}

#portal2 {
    margin-top: 50px;
    margin-right: 40px;
    padding: 5px;
}

#pp {
    width: 400px;
    height: 400px;
}

#ministerio {
    margin-left: 5px;
    margin-top: 40px;
    padding: 5px;
}

#site1 {
    margin-left: 5px;
    margin-top: 20px;
    padding: 5px;
}

#local {
    width: 400px;
    height: 400px;
}

#todos {
    margin-right: 600px;
    margin-top: 30px;
    padding: 10px;
}

#todos1 {
    width: 400px;
    height: 400px;
}

#vida {
    margin-right: 40px;
    margin-top: 30px;
    padding: 10px;
}

#vida1 {
    width: 400px;
    height: 400px;
}

#dica1 {
    margin-right: 600px;
    margin-top: 50px;
    padding: 5px;
}

#mascara {
    width: 400px;
    height: 400px;
}

#dicas2 {
    margin-right: 600px;
    margin-top: 200px;
    padding: 5px
}

#maos {
    width: 400px;
    height: 400px;
}